.button {
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 10px 10px -5px rgba(0, 0, 0, 0.04);
    &__p {
        color: white;
        font-size: 2rem;
        font-family: lora;
    }
}
