.cardWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    &:hover .gradientLayer {
        opacity: 1;
    }
    &__gradientLayer {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 5px;
        background: linear-gradient(
            to bottom right,
            var(--dark20),
            var(--dark10) 95%
        );
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        z-index: 0;
        pointer-events: none;
    }
    &__card {
        display: flex;
        flex-direction: column;
        padding: 1rem;
    
        &__title {
            margin-top: 1rem;
            margin-bottom: 1rem;
            z-index: 2;
        }
        &__line {
            height: 2px;
            width: 50%;
            border-radius: 1px;
            background-color: var(--dark0);
            margin-bottom: 2rem;
            z-index: 2;
        }
        &__summary {
            z-index: 2;
            &__text {
                font-size: 1.5rem;
                color: var(--color-text-second);
                display: inline;
            }
            &__dots {
                font-size: 1.5rem;
                color: var(--color-text-second);
                display: inline;
            }
            &__seeMore {
                text-decoration: underline;
                font-size: 1.5rem;
                color: var(--color-text-main);
                display: inline;
                cursor: pointer;
            }
        }
    }
}

