.pagination {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    &__previous {
        transform: rotate(180deg);
    }
    &__p {
        font-size: 16px;
        font-family: lora;
    }
}