.header {
    position: relative;
    width: 100vw;
    height: 120px;
    border-bottom: 1px solid var(--dark15);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: var(--background-main);
    &__largeScreen {
        position: relative;
        width: 100vw;
        max-width: 1440px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        height: 120px;

        &__LogoWithSignatureWrapper {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            left: 24px;
        }

        &__MenuWrapper {
            display: flex;
            margin-right: 24px;
        }
    }
}
