.header {
    border-bottom: 1px solid var(--color-border);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: var(--background-main);
    &__largeScreen {
        width: 100vw;
        max-width: 1440px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 2rem;
        &__LogoWithSignatureWrapper {
            margin-left: 2rem;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
        &__MenuWrapper {
            height:100%;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            margin-right: 24px;
        }
    }
}

