.footer {
    background-color: var(--background-main);
    width: 100%;
    padding-top: 1rem;
    padding-left: 12rem;
    padding-right: 12rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__largeScreen {
        width: 100%;
        max-width: 1440px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        &__text {
            display: inline;
            color: var(--color-text-second);
            font-size: 1rem;
        }
        &__link {
            display: inline;
            color: var(--color-text-second);
            font-size: 1rem;
        }
    }
}

@media (max-width: 738px) {
    .footer {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}