.inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    &__label {
        font-family: var(--font-paragraph);
        font-size: 1.3rem;
    }
    &__input {
        font-family: var(--font-paragraph);
        font-size: 1.3rem;

    }
    &__p {
        font-family: var(--font-paragraph);
    }
}