.form {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;

    &__photoPrincipale {
        font-size: 1.8rem;
        font-family: var(--font-title);
        text-align: center;
    }
    &__set {
        background-color: var(--background-second);
        padding: 3rem;
        &__p {
            text-align: center;
            font-size: 2rem;
            font-family: var(--font-title)


        }
    }
    &__buttonWrapper__addAPhoto {
        margin-top: 1rem;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
    }
    &__buttonWrapper__addASet {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
    }
    &__buttonWrapper__saveProject{
        margin-top: 2.5rem;
        display: flex;
        justify-content: center;
}
}
