.projetSection {
    background-color: var(--background-second);
    width: 100%;
    padding-top: 6rem;
    padding-bottom: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__largeScreen {
        width: 100%;
        max-width: 1440px;
        padding-left: 4rem;
        padding-right: 4rem;
        display: flex;
        flex-direction: column;
        &__moreProjectsWrapper {
            margin-top: 3rem;
            width: 100%;
            display: flex;
            justify-content: center;
        }
        &__titleAndSubtitle {
            margin-bottom: 3rem;
        }
        &__cards {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5rem;

            &__cardLandscapeWrapper {
                display: flex;
                justify-content: center;
            }
            &__cardPortraitWrapper {
                display: flex;
                width: 100%;
                justify-content: flex-start;
                gap: 5rem;
                flex-wrap: wrap;
                &__cardPortrait {
                    flex: 1 1 calc(33.333% - 5rem); 
                    min-width: 300px;
                    max-width: 500px;                    
                    // Force le retour à la ligne après 3 éléments
                    // &:nth-child(3n) {
                    //     margin-right: auto;
                    // }
                }
            }
        }
        &__pagination {
            margin-top: 3rem;
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 2rem;
            &__previous {
                transform: rotate(180deg);
            }
            &__p {
                font-size: 16px;
                font-family: var(--font-pagination);
            }
        }
    }
}

@media (max-width: 739px) {
    .projetSection {
        &__largeScreen {
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
}