.photosSets {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    &__photosSet {
        display: grid;
        width: 100%;
        gap: 1rem;
        overflow: hidden;
        &1photo {
            grid-template-columns: 1fr;
        }
        &2photo {
            grid-template-columns: repeat(2, 1fr);
        }
        &3photo {
            grid-template-columns: repeat(3, 1fr);
        }
        &4photo {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
