
.fileInputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.fileInput {
    margin-bottom: 0.5rem;
}

.fileInputInfo {
    font-size: 0.9rem;
    color: #666;
    margin-top: 0.25rem;
}