@use 'sass:math';

@tailwind base;
@tailwind components;
@tailwind utilities;

/*
*
******CSS reset begins*****
*
*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
html {
  scroll-behavior: smooth;
}

body {
  min-height: 100svh;
  text-rendering: optimizeSpeed;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  // list-style: none;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration-skip-ink: auto;
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
}

/* Make images easier to work with */
img {
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/*
*
******CSS reset ends*****
*
*/

:root {
  //Color palet :
  --dark0: #000000;
  --dark5: #181818;
  --dark7: #282828;
  --dark10: #303030;
  --dark12: #383838;
  --dark15: #474747;
  --dark20: #5e5e5e;
  --dark30: #919191;
  --dark40: #c8c8c8;
  --dark50: #e5e5e5;
  --dark90: LIGHTGRAY;
  --dark100: white;

  --light0: #cc4e5c;
  --light10: #d96e75;
  --light50: #eec4c9;
  --light60: #f0cace;
  --light70: #faedef;
  --light80: #fff9f9;
  --light90: #fffdfd;

  // Variables globales
}

/* Colors begins */

:root,
[data-theme='dark'] {
  --color-logo: var(--dark100);

  --background-main: var(--dark10);
  --background-second: var(--dark12);

  --color-text-main: var(--dark100);
  --color-text-second: var(--dark50);
  --color-text-third: var(--dark100);
  --color-text-button: var(--dark100);
  --color-text-number: var(--dark90);

  --color-menu-highlight: var(--dark5);

  --background-button: var(--dark0);
  --background-button-second: var(--dark10);
  --background-button-pagination: var(--dark0);
  --color-text-pagination: var(--dark100);

  --color-border: var(--dark0);
  --color-border-photo: var(--dark0);

  --color-shadow-main: rgba(0, 0, 0, 0.1);
  --color-shadow-second: rgba(0, 0, 0, 0.04);

  --color-card-highlight-top-before: var(--dark15);
  --color-card-highlight-bottom-before: var(--dark10);
  --color-card-highlight-top-after: var(--dark20);
  --color-card-highlight-bottom-after: var(--dark15);
  --color-card-line: var(--dark5);

  --color-button-theme: var(--dark20);
  --color-button-theme-background: var(--dark0);

  // Les couleurs de la médailles sont à changer sur le fichier CardLandscape.tsx
  --color-medal-primary: var(--dark50);
  --color-medal-secondary: var(--dark30);
  --color-medal-background: var(--dark10);
}

[data-theme='light'] {
  --color-logo: var(--light0);

  --background-main: #fffdfdd4;
  --background-second: var(--light80);

  --color-text-main: var(--dark10);
  --color-text-second: var(--dark10);
  --color-text-third: var(--light0);
  --color-text-button: var(--dark100);
  --color-text-number: var(--dark15);

  --color-menu-highlight: var(--light0);

  --background-button: var(--light0);
  --background-button-second: var(--light10);
  --background-button-pagination: var(--light80);
  --color-text-pagination: var(--dark10);

  --color-border: var(--light0);
  --color-border-photo: var(--dark40);

  --color-shadow-main: var(--light60);
  --color-shadow-second: var(--light70);

  --color-card-highlight-top-before: var(--light80);
  --color-card-highlight-bottom-before: var(--light80);
  --color-card-highlight-top-after: var(--light60);
  --color-card-highlight-bottom-after: var(--light70);
  --color-card-line: var(--dark15);

  --color-button-theme: var(--light90);
  --color-button-theme-background: var(--light60);

  --color-medal-primary: var(--light10);
  --color-medal-secondary: var(--light60);
  --color-medal-background: var(--light80);
}

/* Colors ends */

/* Font begins */
body {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --font-title: 'Merriweather', serif;
  --font-paragraph: 'Baskervville', serif;
  --font-button: 'Lora', serif;
  --font-title-card: 'Lora', serif;
  --font-menu-mobile: 'Lora', serif;
  --font-contact-link: 'Lora', serif;
  --font-pagination: 'Lora', serif;
}

/* Font ends */

/* Police responsive begins */

@mixin responsive-font(
  $min-size,
  $max-size,
  $min-width: 320px,
  $max-width: 1440px
) {
  font-size: $min-size;

  @media screen and (min-width: $min-width) {
    font-size: calc(
      (
        #{$min-size} + #{strip-unit($max-size - $min-size)} *
          ((100vw - #{$min-width}) / #{strip-unit($max-width - $min-width)})
      )
    );
  }

  @media screen and (min-width: $max-width) {
    font-size: $max-size;
  }
}

//Supprime l'unité
@function strip-unit($value) {
  @return math.div($value, ($value * 0 + 1));
}

html {
  line-height: 1.5;
  font-weight: 400;
  @include responsive-font(8px, 12px);
}
h1 {
  @include responsive-font(18px, 32px);
}

/* Police responsive ends */

/* Cache le badge reCaptcha */
.grecaptcha-badge {
  visibility: hidden !important;
  opacity: 0 !important;
}
