.header {
    position: relative;
    width: 100vw;
    height: 120px;
    border-bottom: 1px solid var(--dark15);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: var(--background-main);
}

.LogoWithSignatureWrapper {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 24px;
}

.MenuWrapper {
    display: flex;
}
