.form {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    &__buttonWrapper {
        padding-top: 0.5rem;
        display: flex;
        justify-content: center;
    }
}

.fileInputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.fileInput {
    margin-bottom: 0.5rem;
}

.fileInputInfo {
    font-size: 0.9rem;
    color: #666;
    margin-top: 0.25rem;
}