.projectPage {
    width: 100%;
    background-color: var(--background-main);
    display: flex;
    flex-direction: column;
    align-items: center;
    &__largeScreen {
        margin-top: 6rem;
        margin-bottom: 6rem;
        margin-left: 12rem;
        margin-right: 12rem;
        width: 100%;
        max-width: 1440px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__photoWrapper {
            max-width: 50vw;
        }
        &__titleWrapper {
            margin-top: 3rem;
            margin-bottom: 6rem;
        }
        &__textAbovePhotos {
            font-size: 1.5rem;
            font-family: lora;
            margin-top: 1rem;
            color: var(--color-text-second);
        }
        &__photosSet {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            flex-wrap: wrap;
            &__photoWrapper {
                margin: auto;
            }
        }
    }
}
