.header {
  position: relative;
  height: 120px;
  border-bottom: 1px solid var(--color-border);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-main);
  &__LogoWithSignatureWrapper {
    margin-left: 24px;
  }
  // L'espace est égaleà la width du toggleContainer dans menu-mobile
  &__deadSpace {
    width: 78px;
  }
  &__MenuWrapper {
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media (max-width: 768px) {
  .header {
    height: 100px;
  }
}
