.header {
    position: relative;
    width: 100vw;
    height: 120px;
    border-bottom: 1px solid var(--dark15);
    // display: flex;
    background-color: var(--background-main);
    &__LogoWithSignatureWrapper {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        left: 24px;
    }
    &__MenuWrapper {
        position: absolute;
        top: 0;
        right: 0;

    }
}
