.themeChanger {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    &__p {
        font-family: var(--font-menu-mobile);
        font-size: 1.5rem;
        color: var(--color-text-second);
    }
}